# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.env

# IDEs e editores
.vscode/
.idea/
*.swp

# Logs
*.log

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db
